 ------
 Demo/Test Page
 ------
 Yegor Bugayenko
 ------
 2012-10-19
 ------

~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

Demo/Test Page

  This page is for testing only. This is <bold>, this is <<italic>>,
  and this is <<<fixed width font>>>.
